.navbar li {
    display: inline-block;
    padding: 15px;
    
}
.column-start-img img{
    box-shadow: 3px 3px 3px grey;
}



.nav-column {
    float: left;
    padding: 20px;
    width: 30%;
    border-bottom: 1px solid grey;
    font-weight: 700;
}

.nav-column1 {
    float: left;
    padding: 20px;
    width: 30%;
    border-bottom: 1px solid grey;

}

.nav-column2 {
    float: left;
    padding: 20px;
    width: 30%;
    border-bottom: 1px solid grey;
    margin-top: 0px;

}
.nav-column2 button {
    background-color: orangered;
    border-radius: 5px;
    border: none;
}

.column-start {
    float: left;
    width: 50%;
    margin-top: 80px;
    margin-left: 150px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.column-start-img {
    float: left;
    width: 80%;
    margin-top: -250px;
    margin-left: 100px;
    
}

.column-start-img img {
    float: right;
    width: 50%;
    height: 50%;
}


.buy{
    padding: 10px 25px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.sell{
    padding: 10px 25px;
    background-color: white;
    border:1px solid orangered;
    border-radius: 5px;
    font-weight: 700;
    color: orangered;
}

.row-top {
    padding-top: 450px;
    margin-left: 100px;
    
}

.car-btn1{
    background-color: orangered;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
    .client-row{
        margin-top: 500px;
    }
    

.car-btn{
    background-color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid lightgrey;
}

span {
    color: orangered;
}

.car-column {
    float: left;
    width: 25%;
    margin-left: 100px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 5px;
    max-height: 300px;
}

.car-images {
    width: 100%;
}
.car-column li{
    display: inline;
    padding: 40px;
}

.car-column button{
    border: none;
    background-color: orangered;
    border-radius: 5px;
    font-weight: 700px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.car-btn img {
    width: 40px;
    height: 20px;
}
.car-btn1 img {
    width: 40px;
    height: 20px;
}
.client-column {
    float: left;
    margin-left: 100px;
    width: 25%;
    text-align: center;
    
}

.client-column img{
    width: 100%;
}

.download{
    margin-top: 400px;
    text-align: center;
    background-color: rgb(249, 237, 223);
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
    
}



.rental-img {
    height: 300px;
    width: 150px;
    margin-left: 900px;
    margin-top:-250px;

}

.footer-column {
    margin-left: 100px;
    float: left;
    width: 15%;
}

input{
    display: list-item;
    border: 2px solid orangered;
    padding: 5px;
    margin: 10px;
}

.footer-column button {
    border: none;
    background-color: orangered;
    padding: 8px 10px;
    border-radius: 5px;
}

.download img{
    display: list-item;
}
.App-store {
    width: 250px;
    margin-top: -30px;
    margin-left: 350px;
}
.Google-play {
    width: 140px;
    margin-top: -90px;
    margin-left: 600px;
}